@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Raleway', sans-serif;
}
    :root{
        --font-white: #FFFFFF;
        --font-blue: #33A8FB;
        --font-blue-gradient: #1472B7;
        --background-button: #252525;
        --color-border: #33A8DB;
    }
/* -------------------- HEADER -------------------- */
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-image: url(/assets/images/background.svg);
    background-size: 100vw auto;
    height: 60vh;
    padding: 0 38vh 0 38vh;
    border-bottom: 1px solid var(--color-border);
}
    #header img{
        border-radius: 50%;
        padding: 20px;
        background-color: rgba(37, 37, 37, 0.3);
    }
    #header h1{
        color: var(--color-border);
        font-size: 40px;
        font-weight: 900;
        background: none;
    }
    #header p{
        color: var(--font-white);
        font-size: 16px;
        text-align: center;
        background: none;
    }
    #header button{
        color: var(--font-blue);
        font-size: 16px;
        font-weight: 900;
        border: 2px solid var(--color-border);
        width: 20vw;
        height: 6vh;
        background: none;
        margin-top: 20px;
        cursor: pointer;
    }
/* -------------------- SECTION -------------------- */
#section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 50vh;
    padding: 0 20vw 0 20vw;
}
    #section h2{
        color: var(--font-blue);
        font-size: 32px;
        letter-spacing: 8px;
    }
    #section p{
        color: var(--font-white);
        font-size: 16px;
        text-align: center;
    }
    #section h4{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--font-white);
        font-size: 16px;
        font-weight: 400;
        background-color: var(--background-button);
        width: 38vw;
        height: 6vh;
        border-radius: 50px;
        border: 1px solid var(--color-border);
    }
        #section h4 p{
            color: var(--font-blue);
            background-color: transparent;
            padding: 0 4px 0 0;
        }
/* -------------------- BANNER -------------------- */
#banner{
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
}
    #banner img{
        width: 100%;
    }
/* -------------------- ARTICLE -------------------- */
#article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
    padding: 0 18vw 0 18vw;
}
    #article h2{
        color: var(--font-blue);
        font-size: 32px;
        letter-spacing: 8px;
        text-align: center;
    }
    #article p{
        color: var(--font-white);
        font-size: 16px;
        text-align: center;
    }
/* -------------------- FOOTER -------------------- */
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 16vh;
    gap: 15px;
    border-top: 1px solid var(--color-border);
    background: linear-gradient(to top, #073658, #000000);
}
    #footer img{
        background: transparent;
    }
    #footer p{
        color: var(--font-white);
        font-size: 16px;
        text-align: center;
        background: transparent;
    }
        #footer a{
            text-decoration: none;
            color: var(--font-blue);
            font-weight: 700;
            background: transparent;
        }

@media (max-width: 768px){
    #header{
        background-size: auto;
        height: auto;
        padding: 16px 8px 16px 8px;
        gap: 4px;
    }
        #header img{
            width: 40%;
        }
        #header h1{
            font-size: 24px;
        }
        #header p{
            font-size: 12px;
        }
        #header button{
            width: 60vw;
            height: 4vh;
            margin: 8px 0 0 0;
            font-size: 12px;
        }
    #section{
        padding: 16px 8px 16px 8px;
        height: auto;
        gap: 8px;
    }
        #section h2{
            font-size: 20px;
            text-align: center;
        }
        #section p{
            font-size: 12px;
            padding: 0 20px 0 20px;
        }
        #section h4{
            width: 80vw;
            height: 6vh;
            font-size: 12px;
        }
    #article{
        padding: 16px 8px 16px 8px;
        height: auto;
        gap: 8px;
    }
        #article h2{
            font-size: 20px;
        }
        #article img{
            width: 80%;
        }
        #article p{
            font-size: 12px;
            padding: 0 20px 0 20px;
        }
    #footer{
        padding: 8px;
        height: auto;
        gap: 8px;
    }
        #footer img{
            width: 70%;
        }
        #footer p{
            font-size: 12px;
        }
}